In [39]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [96]:
apple = pd.read_csv('Assets/AAPL.csv')
apple.drop('Day Difference', inplace=True, axis=1) 
apple.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  12-12-1980  0.128348  0.128906  0.128348  0.128348   0.099450  469033600.0
1  15-12-1980  0.122210  0.122210  0.121652  0.121652   0.094261  175884800.0
2  16-12-1980  0.113281  0.113281  0.112723  0.112723   0.087343  105728000.0
3  17-12-1980  0.115513  0.116071  0.115513  0.115513   0.089504   86441600.0
4  18-12-1980  0.118862  0.119420  0.118862  0.118862   0.092099   73449600.0

In [98]:
df1 = pd.DataFrame(apple, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])
df1['Date'] = pd.to_datetime(df1['Date'], format='%d-%m-%Y')
df1['Date'] = df1['Date'].dt.strftime('%Y-%m-%d')
df1.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099450  469033600.0
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094261  175884800.0
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087343  105728000.0
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089504   86441600.0
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092099   73449600.0

In [106]:
df1 = df1.loc[df1['Date'] > '2010-01-01']
df1

,Date,Open,High,Low,Close,Adj Close,Volume
7331,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.487534,493729600.0
7332,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.498749,601904800.0
7333,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.395380,552160000.0
7334,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.383555,477131200.0
7335,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.425996,447610800.0
...,...,...,...,...,...,...,...
10786,2023-09-26,174.820007,175.199997,171.660004,171.960007,171.960007,64588900.0
10787,2023-09-27,172.619995,173.039993,169.050003,170.429993,170.429993,66921800.0
10788,2023-09-28,169.339996,172.029999,167.619995,170.690002,170.690002,56294400.0
10789,2023-09-29,172.020004,173.070007,170.339996,171.210007,171.210007,51814200.0
10790,2023-10-02,171.220001,174.300003,170.929993,173.750000,173.750000,52115400.0

In [115]:
amazon = pd.read_csv('Assets/AMZN_data_1999_2022.csv')
amazon.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1999-01-04  2.730729  2.966667  2.665625  2.957813   2.957813   785844000
1  1999-01-05  2.739063  3.243750  2.662500  3.112500   3.112500  1257464000
2  1999-01-06  3.409375  3.509375  3.350000  3.450000   3.450000   723532000
3  1999-01-07  3.428125  4.006250  3.325000  3.971875   3.971875   945492000
4  1999-01-08  4.606250  4.978125  3.800000  4.006250   4.006250  1333244000

In [116]:
df2 = pd.DataFrame(amazon, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])
df2 = df2.loc[df2['Date'] > '2010-01-01']
df2

,Date,Open,High,Low,Close,Adj Close,Volume
2767,2010-01-04,6.812500,6.830500,6.657000,6.695000,6.695000,151998000
2768,2010-01-05,6.671500,6.774000,6.590500,6.734500,6.734500,177038000
2769,2010-01-06,6.730000,6.736500,6.582500,6.612500,6.612500,143576000
2770,2010-01-07,6.600500,6.616000,6.440000,6.500000,6.500000,220604000
2771,2010-01-08,6.528000,6.684000,6.451500,6.676000,6.676000,196610000
...,...,...,...,...,...,...,...
6034,2022-12-23,83.250000,85.779999,82.930000,85.250000,85.250000,57433700
6035,2022-12-27,84.970001,85.349998,83.000000,83.040001,83.040001,57284000
6036,2022-12-28,82.800003,83.480003,81.690002,81.820000,81.820000,58228600
6037,2022-12-29,82.870003,84.550003,82.550003,84.180000,84.180000,54995900
6038,2022-12-30,83.120003,84.050003,82.470001,84.000000,84.000000,62401200

In [128]:
microsoft = pd.read_csv('Assets/MSFT(2000-2023).csv')
microsoft
df3 = pd.DataFrame(microsoft, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])
df3['Date'] = pd.to_datetime(df3['Date'], format='%m/%d/%Y')
df3['Date'] = df3['Date'].dt.strftime('%Y-%m-%d')
df3.head()

         Date      Open     High       Low     Close  Adj Close    Volume
0  2000-01-03  58.68750  59.3125  56.00000  58.28125  36.132248  53228400
1  2000-01-04  56.78125  58.5625  56.12500  56.31250  34.911709  54119000
2  2000-01-05  55.56250  58.1875  54.68750  56.90625  35.279816  64059600
3  2000-01-06  56.09375  56.9375  54.18750  55.00000  34.098019  54976600
4  2000-01-07  54.31250  56.1250  53.65625  55.71875  34.543629  62013600

In [129]:
df3 = df3.loc[df3['Date'] > '2010-01-01']
df3

,Date,Open,High,Low,Close,Adj Close,Volume
2515,2010-01-04,30.620001,31.100000,30.590000,30.950001,23.474922,38409100
2516,2010-01-05,30.850000,31.100000,30.639999,30.959999,23.482502,49749600
2517,2010-01-06,30.879999,31.080000,30.520000,30.770000,23.338396,58182400
2518,2010-01-07,30.629999,30.700001,30.190001,30.450001,23.095678,50559700
2519,2010-01-08,30.280001,30.879999,30.240000,30.660000,23.254963,51197400
...,...,...,...,...,...,...,...
6007,2023-11-16,370.959991,376.350006,370.179993,376.170013,376.170013,27182300
6008,2023-11-17,373.609985,374.369995,367.000000,369.850006,369.850006,40157000
6009,2023-11-20,371.220001,378.869995,371.000000,377.440002,377.440002,52465100
6010,2023-11-21,375.670013,376.220001,371.119995,373.070007,373.070007,28423100
6011,2023-11-22,378.000000,379.790009,374.970001,377.850006,377.850006,23345300

In [60]:
tesla = pd.read_csv('Assets/tesla_stocks.csv', index_col='Date', parse_dates=['Date'])
tesla

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...
2023-08-03,252.039993,260.489990,252.000000,259.320007,259.320007,97569100
2023-08-04,260.970001,264.769989,253.110001,253.860001,253.860001,99242600
2023-08-07,251.449997,253.649994,242.759995,251.449997,251.449997,111097900
2023-08-08,247.449997,250.919998,245.009995,249.699997,249.699997,96642200
2023-08-09,250.869995,251.100006,241.899994,242.190002,242.190002,101267000