In [5]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

print

In [6]:
apple = pd.read_csv('/Users/arnavkhanna/Documents/GitHub/Stock-Market-Analysis-And-Forecasting-Using-Deep-Learning/Assets/AAPL.csv', index_col='Date', parse_dates=['Date'])
apple.head()

,Open,High,Low,Close,Day Difference,Adj Close,Volume
Date,,,,,,,
12-12-1980,0.128348,0.128906,0.128348,0.128348,0.00000,0.099450,469033600.0
15-12-1980,0.122210,0.122210,0.121652,0.121652,-0.00056,0.094261,175884800.0
16-12-1980,0.113281,0.113281,0.112723,0.112723,-0.00056,0.087343,105728000.0
17-12-1980,0.115513,0.116071,0.115513,0.115513,0.00000,0.089504,86441600.0
18-12-1980,0.118862,0.119420,0.118862,0.118862,0.00000,0.092099,73449600.0