In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [16]:
apple = pd.read_csv('/Users/arnavkhanna/Documents/GitHub/Stock-Market-Analysis-And-Forecasting-Using-Deep-Learning/Assets/AAPL.csv', index_col='Date', parse_dates=['Date'])
apple.drop('Day Difference', inplace=True, axis=1) 
apple.head()

                Open      High       Low     Close  Adj Close       Volume
Date
12-12-1980  0.128348  0.128906  0.128348  0.128348   0.099450  469033600.0
15-12-1980  0.122210  0.122210  0.121652  0.121652   0.094261  175884800.0
16-12-1980  0.113281  0.113281  0.112723  0.112723   0.087343  105728000.0
17-12-1980  0.115513  0.116071  0.115513  0.115513   0.089504   86441600.0
18-12-1980  0.118862  0.119420  0.118862  0.118862   0.092099   73449600.0

In [20]:
amazon = pd.read_csv('/Users/arnavkhanna/Documents/GitHub/Stock-Market-Analysis-And-Forecasting-Using-Deep-Learning/Assets/AMZN_data_1999_2022.csv', index_col='Date', parse_dates=['Date'])
amazon.head()

                Open      High       Low     Close  Adj Close      Volume
Date
1999-01-04  2.730729  2.966667  2.665625  2.957813   2.957813   785844000
1999-01-05  2.739063  3.243750  2.662500  3.112500   3.112500  1257464000
1999-01-06  3.409375  3.509375  3.350000  3.450000   3.450000   723532000
1999-01-07  3.428125  4.006250  3.325000  3.971875   3.971875   945492000
1999-01-08  4.606250  4.978125  3.800000  4.006250   4.006250  1333244000

In [21]:
microsoft = pd.read_csv('/Users/arnavkhanna/Documents/GitHub/Stock-Market-Analysis-And-Forecasting-Using-Deep-Learning/Assets/MSFT(2000-2023).csv', index_col='Date', parse_dates=['Date'])
microsoft.head()

                Open     High       Low     Close  Adj Close    Volume
Date
2000-01-03  58.68750  59.3125  56.00000  58.28125  36.132248  53228400
2000-01-04  56.78125  58.5625  56.12500  56.31250  34.911709  54119000
2000-01-05  55.56250  58.1875  54.68750  56.90625  35.279816  64059600
2000-01-06  56.09375  56.9375  54.18750  55.00000  34.098019  54976600
2000-01-07  54.31250  56.1250  53.65625  55.71875  34.543629  62013600

In [22]:
tesla = pd.read_csv('/Users/arnavkhanna/Documents/GitHub/Stock-Market-Analysis-And-Forecasting-Using-Deep-Learning/Assets/tesla_stocks.csv', index_col='Date', parse_dates=['Date'])
tesla.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500